<% include header %>

	<form id="viewBooksForm" method="get" action="findbooks">
		<div class="row">
			<div class="large-6 large-centered columns">
				<input type="radio" name="read" value=true id="wishlistNo" checked="checked">
				<label for="wishlistNo">Read already</label>
				<input type="radio" name="read" value=false id="wishlistYes">
				<label for="wishlistYes">Wanna read</label>
			</div>
		</div>
		
		<div class="row">
			<div class="large-6 large-centered columns">
				<input type="radio" name="fiction" value=true id="fictionYes">
				<label for="fictionYes">Fiction</label>
				<input type="radio" name="fiction" value=false id="fictionNo">
				<label for="fictionNo">Non-fiction</label>
				<input type="radio" name="fiction" value="all" id="fictionAll" checked="checked">
				<label for="fictionAll">All</label>
			</div>
		</div>
		<div class="row">
			<div class="large-6 large-centered columns">
				<label>Select Genre</label>
				<select id="genre" name='genre' class="add-any-option">
				</select>
			</div>
		</div>
		<div class="row">
			<div class="large-6 large-centered columns">
				<label>Year</label>
				<select id="year" name='year' placeholder="Please Select">
					<option value="any">Any</option>
					<% for(var i=0; i < 100; i++){ %>
						<option value=<%= new Date().getFullYear()-i %>><%= new Date().getFullYear()-i %></option>
					<% } %>
				</select>
			</div>
		</div>
		<div class="row">
			<div class="large-12 columns">
				<input class="button expand large-12" type="submit" value="Find Books" />
			</div>
		</div>
		
	</form>
	
	<div id='resultsContainer'>
	
		<% if(booksFound){ %>
		<div class="row large-4 large-centered columns">
			<p class="large-12 columns label success text-center">
				found <%= books.length %> books
			</p>	
		</div>
		
				
				<%for (eachBook in books) { %>
				
				<div class="row large-10 large-centered columns">
						<span class="label large-1 columns text-center book-list"><%= eachBook %></span>
						<span class="secondary label large-4 columns text-left book-list"><%= books[eachBook].title %></span>
						<span class="secondary label large-3 columns text-left book-list"><%= books[eachBook].author %></span>
						<span class="secondary label large-1 columns text-left book-list"><%= books[eachBook].date %></span>
				</div>				
				
		
		
					<% } %>
		<% } %>
		
		
		
		
	</div>


</body>

</html>